<% if @model == 'book'  %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @datas.each do |data| %>
        <tr>
          <td><%= link_to user_path(data) do %>
            <%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
            <% end %>
          </td>
          <td><%= link_to data.title, book_path(data) %></td>
          <td><%= data.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else  %>
  <table class='table'>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @datas.each do |data| %>
        <tr>
          <td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td><%= data.name %></td>
          <td><%= link_to 'Show', user_path(data) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end  %>